@import url('https://fonts.googleapis.com/css2?family=Matangi:wght@300..900&display=swap');
body { 
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
    color: #ffffff;
    font-family: "Matangi", sans-serif;
    padding: 0 12px;
}

input { 
    height: 50px;
    width: 70%;
    min-width: 250px;
    padding: 15px;
    font-size: 20px;
    border-radius: 15px;
    background-color: #4E4E50;
    border: none;
    color: #ffffff;
}

label { 
    font-size: 18px;
    color: #A64D79;
    margin-top: 20px;
}

input:focus { 
    outline: none;
}

@media screen and (max-width: 500px) {
    label { 
        font-size: 14px;
    }
}
